.cgp-item {
    width: 100%;
    min-width: 100px;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: right;
    padding: 4px 6px;
    margin-bottom: 8px;
    border-radius: 2px;
    border-spacing: 10px; 
     background-color: #EEEEEE;
  }

  #infoi {
    z-index: 10;
    margin-bottom: 8px;
    border-spacing: 10px; 
    padding: 4px 6px;
    border-spacing: 10px; 
  }

